.card-title {
  border: 0;
  background-color: white;
  resize: none;
  word-break: break-word;
  overflow-wrap: normal;
  width: 97%;
}
.card-title:hover {
  cursor: pointer;
}
.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(9,30,66,.25);
  cursor: pointer;
  display: block;
  margin-bottom: 8px;
  max-width: 300px;
  min-height: 20px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}
.card:hover {
  opacity: 0.5;
}

.card-actions-wrap {
  display: flex;
  justify-content: flex-end;
}

.edit-mode {
  border: 1px solid black;
}
.edit-mode:focus {
  outline: none;
}
