<div  class="card">
  <div class="card-actions-wrap">
    <img *ngIf="!showActionsEdit" (click)="editCardTitle();" src="assets/pencil.svg" alt="edit-btn-card-title">
    <img *ngIf="!showActionsEdit" (click)="deleteCard()" src="assets/delete.svg" alt="edit-btn-card-title">
    <img *ngIf="showActionsEdit" (click)="cancelEdit()" src="assets/clear.svg" alt="cancel-btn-card-title">
    <img *ngIf="showActionsEdit" (click)="approveEdit()" src="assets/done.svg" alt="approve-btn-card-title">
  </div>
  <textarea #txtArea [ngClass]="{'edit-mode': showActionsEdit}" cols="30" rows="1" [disabled]="!showActionsEdit" class="card-title" type="text" [(ngModel)]="card.cardTitle" ngModelOptions="{standalone: true}" ></textarea>
</div>
