.confirm-modal-wrap {
  position: fixed;
  background-color: #ffffff;
  height: 150px;
  width: 400px;
  top: 25%;
  right: 50%;
  border-radius: 8px;
  transform: translate(50%, -50%);
  z-index: 1;
  border: 1px solid grey;
  padding: 14px;
}
.msg-title {
  font-size: 20px;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 62%;
}

.btn {
  padding: 10px;
  border-radius: 4px;
  background-color: #ffffff;
  font-size: 18px;
  width: 110px;
}
.yes-btn {
  border: 2px solid green;
  color: green;
  margin-right: 10px;
}
.no-btn {
  border: 2px solid #86150d;
  color: #86150d;
}
.btn:hover {
  cursor: pointer;
  opacity: 0.8;
}
