.menu-icon:hover {
   cursor: pointer;
}
.actions-wrap{
  position: absolute;
  background-color: #ffffff;
  height: 50px;
  width: 150px;
  top: 32px;
  right: -130px;
  border-radius: 8px;
  z-index: 1;
  border: 1px solid #CDD2D4;
}

.actions-list {
  list-style-type: none;
  padding-left: 5px;
}

.actions-list li:hover {
  color: #0079bf;
  cursor: pointer;
}
