.list-wrap {
  display: flex;
  overflow-x: auto;
  height: 85vh;
}

.entry-wrap {
  display: flex;
  justify-content: center;
  height: 90vh;
  align-items: center;
}
/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  /*transition: transform 850ms cubic-bezier(0, 0, 0.2, 1);*/
  /*transform: rotate(30deg);*/
  /*opacity: 0.4;*/

}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  /*transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);*/
}
